<div class="center">
    <div class="content">
        <div class="row vert-pad">
            <div class="left padded">
                <h1>Desarrollo con pasión apps y sitios web para personas</h1>
                <p>Constantemente me encuentro aprendiendo nuevas tecnologías y desarrollando aplicaciones por placer. Ésta web la construí desde cero con Python y Flask, al igual que las siguientes aplicaciones y muchas más</p>
            </div>
            <div class="right padded">
                <h1>Podemos conversar lo que gustes</h1>
                <p>Sólo envíame un correo :) <a class="purple" href="#contacto">picándole aquí</a></p>
            </div>
        </div>
    </div>
</div>